{
  "advertise_addr": "{{ ansible_default_ipv4.address }}",
  "bind_addr": "0.0.0.0",
  {% if consul_host_address == ansible_default_ipv4.address %}
  "bootstrap_expect": {{ groups['consul'] | length }},
  {% endif %}
  "client_addr": "0.0.0.0",
  "data_dir": "/data",
  "log_level": "info",
  "node_name": "{{ inventory_hostname }}",
  "ports": {
    "http": {{ consul_https_port }}
  },
  "recursors": [
    "8.8.8.8"
  ],
  {% if consul_host_address != ansible_default_ipv4.address %}
  "retry_join": [
    "{{ consul_host_address }}"
  ],
  {% endif %}
  {% if consul_host_address == ansible_default_ipv4.address %}
  "ui_dir": "/ui",
  {% endif %}
  "server": true
}
