$WorkDirectory /var/spool/rsyslog

# Rotate per hour
$ActionQueueType Direct
$template RotateHourly_docker_engine,"{{ app_log_dir }}/%$YEAR%/%$MONTH%/%$DAY%/%$HOUR%/docker_engine.log"
if $syslogtag contains 'docker_engine' and $syslogfacility-text == 'local7' then { action (type="omfile" DynaFile="RotateHourly_docker_engine" template="RunnableJSON" dirCreateMode="0755" FileCreateMode="0644") }
